In [1]:
import ibis
from pyspark.sql import SparkSession

In [2]:

session = SparkSession.builder.getOrCreate()
ipsc = ibis.pyspark.connect(session)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/24 20:39:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/24 20:39:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
ipsc

In [4]:
ipsc.list_databases()

['default']

In [21]:
ipsc.list_tables()

['tmp_df_table']

In [23]:
my_table = ipsc.table("tmp_df_table")

In [26]:
for col in my_table.columns:
    if col[0] == "d":
        print(col)

derived_msa_md
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
discount_points
debt_to_income_ratio
denial_reason_1
denial_reason_2
denial_reason_3
denial_reason_4

In [6]:
df_rdd = session.read.csv("../data/sample_big_mortgage_file.csv.gz", header=True, sep="|")

In [7]:
df_rdd.count()

5

In [14]:
type(df_rdd)

pyspark.sql.dataframe.DataFrame

In [17]:
#df_rdd.write.mode("overwrite").saveAsTable("testdb.test")

df_rdd.createTempView("tmp_df_table")

In [18]:
query = "SELECT * FROM tmp_df_table"

In [19]:
df1 = session.sql(query)

In [20]:
df1.head()

Row(activity_year='2020', lei='KB1H1DSPRFMYMCUFXT09', derived_msa_md='47260', state_code='VA', county_code='51810', census_tract='51810046015', conforming_loan_limit='C', derived_loan_product_type='Conventional:First Lien', derived_dwelling_category='Single Family (1-4 Units):Site-Built', derived_ethnicity='Joint', derived_race='White', derived_sex='Joint', action_taken='3', purchaser_type='0', preapproval='2', loan_type='1', loan_purpose='2', lien_status='1', reverse_mortgage='2', open_end_line_of_credit='1', business_or_commercial_purpose='2', loan_amount='35000', combined_loan_to_value_ratio='NA', interest_rate='NA', rate_spread='NA', hoepa_status='3', total_loan_costs='NA', total_points_and_fees='NA', origination_charges='NA', discount_points='NA', lender_credits='NA', loan_term='361', prepayment_penalty_term='NA', intro_rate_period='NA', negative_amortization='2', interest_only_payment='2', balloon_payment='2', other_nonamortizing_features='2', property_value='175000', construction_method='1', occupancy_type='1', manufactured_home_secured_property_type='3', manufactured_home_land_property_interest='5', total_units='1', multifamily_affordable_units='NA', income='NA', debt_to_income_ratio='NA', applicant_credit_score_type='1', co_applicant_credit_score_type='9', applicant_ethnicity_1='2', applicant_ethnicity_2=None, applicant_ethnicity_3=None, applicant_ethnicity_4=None, applicant_ethnicity_5=None, co_applicant_ethnicity_1='14', co_applicant_ethnicity_2=None, co_applicant_ethnicity_3=None, co_applicant_ethnicity_4=None, co_applicant_ethnicity_5=None, applicant_ethnicity_observed='2', co_applicant_ethnicity_observed='2', applicant_race_1='5', applicant_race_2=None, applicant_race_3=None, applicant_race_4=None, applicant_race_5=None, co_applicant_race_1='5', co_applicant_race_2=None, co_applicant_race_3=None, co_applicant_race_4=None, co_applicant_race_5=None, applicant_race_observed='2', co_applicant_race_observed='2', applicant_sex='1', co_applicant_sex='2', applicant_sex_observed='2', co_applicant_sex_observed='2', applicant_age='35-44', co_applicant_age='35-44', applicant_age_above_62='No', co_applicant_age_above_62='No', submission_of_application='1', initially_payable_to_institution='1', aus_1='6', aus_2=None, aus_3=None, aus_4=None, aus_5=None, denial_reason_1='3', denial_reason_2=None, denial_reason_3=None, denial_reason_4=None, tract_population='5855', tract_minority_population_percent='51.7299999999999969', ffiec_msa_md_median_family_income='78800', tract_to_msa_income_percentage='105.0', tract_owner_occupied_units='1375', tract_one_to_four_family_homes='1885', tract_median_age_of_housing_units='29')